@import url(../reindeer/styles.css);

.v-app {
background:#353637;
}

.v-caption {
	font-size: 13px;
	color: #6c737a;
	padding-bottom: 0.3em;
}

.v-caption-on-top .v-caption {
	padding-bottom: 0.3em;
}

.v-label.h2 {
		color: #404346;
		font-size: 22px;
		line-height: 1;
		font-weight: normal;
		padding: .5em 0;
		-webkit-font-smoothing: antialiased;
	}
	
.v-label.light {
		color: #979699;
	}

.v-label.h4 {
		font-weight: bold;
		text-transform: uppercase;
		color: #349aff;
		font-size: 14px;
	}
	
.v-textfield,
	.v-filterselect {
		border-radius:3px;
		border: 1px solid #c9c8c7;
		border-top-color: #d8d7d6;
		
		background: #fff;
		box-shadow: 0 0 0 2px rgba(51,50,49,.07);
		
		font: inherit;
		color: inherit;
		line-height: 1;
		margin: 0;
	}
	
.login-panel {
		background: #fff;
		 border-radius: 4px;
		 box-shadow:0 4px 20px rgba(0,0,0,.5);
		padding: 1em 4em 2em 1em;

	}
	
.v-horizontallayout-spacing-on {
    padding-left: 25px;
}

.transactions {
	background:#353637;
}
	
.sidebar {
		background: #414243 url(img/sidebar-gradient.png) repeat-y top right;
        border-radius: 4px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
		.sidebar .branding {
		border-bottom: 1px solid #353637;
		position: relative;
		-webkit-font-smoothing: antialiased;
	}
	
		.sidebar .branding .v-label {
		position: relative;
		z-index: 2;
		
		white-space: normal;
		font-size: 16px;
		line-height: 1.1;
		color: #fff;
		text-shadow: 0 2px 2px rgba(0,0,0,.5);
		
		/* WTH? Why is inline-block forced as an inline style? */
		display: block !important;
		padding: .8em .8em 1.2em;
		
		box-shadow:inset 0 0 5px 2px rgba(0,0,0,.5);
	}

	
	.sidebar .user {
		display: block;
		
		border-top: 1px solid #303132;
		background: #3b3c3d;
		background-color: rgba(0,0,0,.1);
		
		color: #898c8e;
		text-shadow: 0 1px 1px rgba(0,0,0,.5);
		text-align:center;
		box-shadow:inset 0 1px 0 rgba(255,255,255,.08);
	}
	
	.sidebar .user > .v-slot {
		display: inline-block;
		width: 50%;
	}
	
	.sidebar .user > .v-slot:first-child {
		width: 34px;
	}
	

	
		.sidebar .user .v-image {
		width: 34px;
		height: 34px;
		border-right: 1px solid #313132;
	}
	
		.sidebar .user .icon-cancel {
		border: 1px solid #303132;
		background-color: black;
	
	}
	
	.sidebar .user .set {
	  border-bottom: 1px solid #313132;
	}
	
	.sidebar .user .button {
	   background-color: black;
	}
	
	.sidebar .menu {
		overflow: auto;
		height: 100%;
	}

	.backColor{
background:#353637;
}