@import url(../reindeer/styles.css);

 .v-panel-content {
	text-align:center;
}
.login .v-panel-caption {
	text-align:center;
	margin:100px;
}

.login .v-formlayout {
text-align:center;
}

.eleve .v-splitpanel {
	border: solid 1px black;
}

.eleve .v-select {
	margin: 100px;
}